In [1]:
import utils

utils.pension_to_percentile(2000.0)

row:  20
112.49999999999982

100

In [3]:
utils.calculate_pension_ranges_2025(100)

,lower_bound,upper_bound,men_number,men_number_cumsum,women_number,women_number_cumsum,number,number_cumsum,percentage,percentage_cumsum,range
0,0.00,100.0,2352.0,2352.0,5260.0,5260.0,7613,7613,0.1,0.1,0.0 - 100.0
1,100.01,200.0,1444.0,3796.0,2829.0,8089.0,4274,11887,0.1,0.2,100.01 - 200.0
2,200.01,300.0,1274.0,5070.0,2464.0,10553.0,3739,15626,0.1,0.3,200.01 - 300.0
3,300.01,400.0,2197.0,7267.0,2719.0,13272.0,4917,20543,0.1,0.4,300.01 - 400.0
4,400.01,500.0,3477.0,90775.0,3073.0,148417.0,6560,239287,0.0,4.0,400.01 - 500.0
...,...,...,...,...,...,...,...,...,...,...,...
96,9600.01,9700.0,6081.0,2418518.0,2103.0,3768298.0,8185,6187324,0.1,98.0,9600.01 - 9700.0
97,9700.01,9800.0,5755.0,2424273.0,1949.0,3770247.0,7705,6195029,0.1,98.1,9700.01 - 9800.0
98,9800.01,9900.0,5598.0,2429871.0,1856.0,3772103.0,7455,6202484,0.1,98.2,9800.01 - 9900.0
99,9900.01,10000.0,5313.0,2435184.0,1733.0,3773836.0,7047,6209531,0.1,98.3,9900.01 - 10000.0
100,10000.01,50000.0,105096.0,2540280.0,28955.0,3802791.0,134052,6343583,2.1,100.4,10000.01 - 50000.0

In [6]:
utils.get_pension_ranges_2025()["percentage"].cumsum()

1        0.1
2        0.2
3        0.3
4        0.4
5        0.4
       ...
511     98.0
512     98.1
513     98.2
514     98.3
515    100.4
Name: percentage, Length: 515, dtype: float64