In [67]:
import utils

utils.caclulate_pension_ranges_2025(100)

,lower_bound,upper_bound,number,percent,women_percentage,men_percentage,men_number,men_number_cumsum,women_number,women_number_cumsum,number_cumsum,percent_cumsum,range
0,0.00,100.0,7613,0.1,69.10,30.90,2352.0,2352.0,5260.0,5260.0,7613,0.1,0.0 - 100.0
1,100.01,200.0,4274,0.1,66.20,33.80,1444.0,3796.0,2829.0,8089.0,11887,0.2,100.01 - 200.0
2,200.01,300.0,3739,0.1,65.90,34.10,1274.0,5070.0,2464.0,10553.0,15626,0.3,200.01 - 300.0
3,300.01,400.0,4917,0.1,55.30,44.70,2197.0,7267.0,2719.0,13272.0,20543,0.4,300.01 - 400.0
4,400.01,500.0,6560,0.0,46.84,53.16,3487.0,10754.0,3072.0,16344.0,27103,0.4,400.01 - 500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,9600.01,9700.0,8185,0.1,25.70,74.30,6081.0,2431867.0,2103.0,3755360.0,6187324,98.0,9600.01 - 9700.0
97,9700.01,9800.0,7705,0.1,25.30,74.70,5755.0,2437622.0,1949.0,3757309.0,6195029,98.1,9700.01 - 9800.0
98,9800.01,9900.0,7455,0.1,24.90,75.10,5598.0,2443220.0,1856.0,3759165.0,6202484,98.2,9800.01 - 9900.0
99,9900.01,10000.0,7047,0.1,24.60,75.40,5313.0,2448533.0,1733.0,3760898.0,6209531,98.3,9900.01 - 10000.0
100,10000.01,50000.0,134052,2.1,21.60,78.40,105096.0,2553629.0,28955.0,3789853.0,6343583,100.4,10000.01 - 50000.0